@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome to Career Portal</h1>
</div>*@



<div class="jumbotron">
    <h1 class="display-4">Hello, job seeker!</h1>
    <p class="lead">Welcome to our career portal.</p>
    <hr class="my-4">
    <p>Register and update your information to know more about our vacancies.</p>
    <p class="lead mt-5">
        <a class="btn btn-primary btn-lg" asp-action="Login" role="button">Login</a>
        <a class="btn btn-primary btn-lg" asp-action="Register" role="button">Register</a>

    </p>
</div>