@model CareerPortal.Models.POC
<div class="container">

    <form enctype="multipart/form-data" method="post">
        <div class="row">
            <div class="col-4"><input type="file" asp-for="URL" class="form-control-file custom-file text-black-50" /></div>
            <div class="col-3"><input type="submit" class="btn btn-primary" value="Submit" /></div>
        </div>
    </form>
</div>