@model CareerPortal.Models.User 
<div class="container">
    <div class="mt-5 row justify-content-center">
        <div class="col-7 border p-5">
            <form method="post">
                <h1 style="text-align:center">Register</h1>
                <small class="form-text text-muted text-center mb-5">Existing user ? <a asp-action="Login">Click here</a> to login</small>
                <div class="row">
                    <div class="col-10">
                        <h3>Personal Information</h3>
                        <div class="form-group row mt-4">
                            <div class="col-4">
                                <label asp-for="Name" class="mt-2">Full Name</label>
                            </div>
                            <div class="col-8">
                                <input type="text" class="form-control" asp-for="Name" placeholder="Enter name" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row mt-4">
                            <div class="col-4">
                                <label asp-for="Email" class="mt-2">Email address</label>
                            </div>
                            <div class="col-8">
                                <input type="email" class="form-control" asp-for="Email" placeholder="Enter email" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-4">
                                <label asp-for="Password" class="mt-2">Password</label>
                            </div>
                            <div class="col-8">
                                <input type="password" class="form-control" asp-for="Password" placeholder="Password">
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                        </div>

                        @*<div class="form-group row">
                <div class="col-4">
                    <label asp-for="Password" class="mt-2">Confirm password</label>
                </div>
                <div class="col-8">
                    <input type="password" class="form-control" asp-for="Password" placeholder="Password">
                </div>
            </div>*@

                        <div class="form-group row">
                            <div class="col-4">
                                <label asp-for="Address" class="mt-2">Address</label>
                            </div>
                            <div class="col-8">
                                <textarea asp-for="Address" class="form-control"></textarea>
                                <span asp-validation-for="Address" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-4">
                                <label class="mt-2" asp-for="DateOfBirth">Date of Birth</label>
                            </div>
                            <div class="col-8">
                                <input type="date" asp-for="DateOfBirth" class="form-control">
                                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-4">
                                <label class="mt-2" asp-for="PhoneNumber">Phone Number</label>
                            </div>
                            <div class="col-8">
                                <input type="text" class="form-control" asp-for="PhoneNumber" placeholder="Phone Number" pattern="[0-9]{10}">
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                </div>
                <button type="submit" class="btn btn-primary mt-4 float-right">Next : Add Education Details</button>
            </form>
        </div>
    </div>

</div>
