<div class="container">
    <div class="mt-5 row border justify-content-between p-5">
        <div class="col-8 p-5">
            <form>
                <div class="row">
                    <div class="col-10">
                        <h3>Add/Edit Experience</h3>
                        <div class="form-group row mt-4">
                            <div class="col-4">
                                <label class="mt-2">Company Name</label>
                            </div>
                            <div class="col-8">
                                <input type="text" class="form-control" placeholder="Enter company name" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-4">
                                <label class="mt-2">Position</label>
                            </div>
                            <div class="col-8">
                                <input type="text" class="form-control" placeholder="Enter position" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-4">
                                <label class="mt-2">Description</label>
                            </div>
                            <div class="col-8">
                                <input type="text" class="form-control" placeholder="Enter short description of job role" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-4">
                                <label class="mt-2">Start Date</label>
                            </div>
                            <div class="col-8">
                                <input type="date" class="form-control" placeholder="Enter start date" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-4">
                                <label class="mt-2">End Date</label>
                            </div>
                            <div class="col-8">
                                <input type="date" class="form-control" placeholder="Enter end date" />
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary mt-4">Add / Edit</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>
