<div class="container-fluid">
    <div class="main-body">
        <div class="row gutters-sm">
            


            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                            
                        </div>
                    </div>
                </div>
                
            </div>
            
            
            <div class="col-8">
                
                
                
                <div class="card mb-3">
                    <div class="card-body">
                        
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Full Name</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                Kenneth Valdez
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Email</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                kenneth@gmail.com
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Phone</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                8943145293
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Date of Birth</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                05-01-1999
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Address</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                Bay Area, San Francisco, CA
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <a class="btn btn-primary text-white float-right"><i class="fas fa-edit"></i> &nbsp; Edit Information</a>
                            </div>
                        </div>
                    </div>
                </div>
                
                
                
                <div class="row gutters-sm">


                    <div class="col-12 mb-3">
                        <div class="card h-100">
                            <div class="card-body">
                                <h3 class="d-inline">Experience</h3>
                                <a asp-controller="Experience" asp-action="Upsert" class="btn btn-primary float-right"><i class="fas fa-plus"></i> &nbsp; Add Experience</a>
                                <table class="table table-fixed mt-4">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Company</th>
                                            <th scope="col">Position</th>
                                            <th scope="col">Description</th>
                                            <th scope="col">Start Date</th>
                                            <th scope="col">End Date</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>Cognizant</td>
                                            <td>Programmer Analyst Trainee</td>
                                            <td>IoT Developer</td>
                                            <td>09/05/20</td>
                                            <td>12/16/20</td>
                                            <td>
                                                <div class="text-center">
                                                    <a class="btn btn-success text-white" style="cursor:pointer">
                                                        <i class="fas fa-edit"></i>
                                                    </a>
                                                    <a class="btn btn-danger text-white" style="cursor:pointer">
                                                        <i class="fas fa-trash-alt"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                
                    <div class="col-12 mb-3">
                        <div class="card h-100">
                            <div class="card-body">
                                <h3 class="d-inline">Education</h3>
                                <a asp-controller="Education" asp-action="Upsert" class="btn btn-primary float-right"><i class="fas fa-plus"></i> &nbsp; Add Education</a>
                                <table class="table mt-4">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Institution</th>
                                            <th scope="col">Degree</th>
                                            <th scope="col">Score</th>
                                            <th scope="col">Enrollment Year</th>
                                            <th scope="col">Pass Year</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>Mock School</td>
                                            <td>XII (CBSE)</td>
                                            <td>90</td>
                                            <td>2015</td>
                                            <td>2016</td>
                                            <td>
                                                <div class="text-center">
                                                    <a class="btn btn-success text-white" style="cursor:pointer">
                                                        <i class="fas fa-edit"></i>
                                                    </a>
                                                    <a class="btn btn-danger text-white" style="cursor:pointer">
                                                        <i class="fas fa-trash-alt"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">2</th>
                                            <td>Mock College</td>
                                            <td>BTech</td>
                                            <td>86</td>
                                            <td>2016</td>
                                            <td>2020</td>
                                            <td>
                                                <div class="text-center">
                                                    <a class="btn btn-success text-white" style="cursor:pointer">
                                                        <i class="fas fa-edit"></i>
                                                    </a>
                                                    <a class="btn btn-danger text-white" style="cursor:pointer">
                                                        <i class="fas fa-trash-alt"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>


                </div>
        </div>
    </div>
</div>

 </div>