<div class="container">
    <div class="mt-5 row border justify-content-between p-5">
        <div class="col-8 p-5">
            <form>
                <div class="row">
                    <div class="col-10">
                        <h3>Add/Edit Education</h3>
                        <div class="form-group row mt-4">
                            <div class="col-4">
                                <label class="mt-2">Institution Name</label>
                            </div>
                            <div class="col-8">
                                <input type="text" class="form-control" placeholder="Enter institution name" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-4">
                                <label class="mt-2">Degree</label>
                            </div>
                            <div class="col-8">
                                <input type="text" class="form-control" placeholder="Enter institution name" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-4">
                                <label class="mt-2">Score</label>
                            </div>
                            <div class="col-8">
                                <input type="text" class="form-control" placeholder="Enter score in percentage" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-4">
                                <label class="mt-2">Year of Enrollment</label>
                            </div>
                            <div class="col-8">
                                <input type="text" class="form-control" placeholder="Enter year of enrollment" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-4">
                                <label class="mt-2">Year of pass</label>
                            </div>
                            <div class="col-8">
                                <input type="text" class="form-control" placeholder="Enter year of pass" />
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary mt-4">Add / Edit</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>
